.container {
  height: 75px;
  margin: 0 auto;
  width: 50%;
  font-size: 15px;

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }
  input {
    width: 540px;
    padding: 10px;
  }

  button {
    width: 80px;
    font-size: 15px;
  }
}
